<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Agri-Tech</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/agri-tech-logo.png') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/responsive.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}">



    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default bootsnav">
            <div class="container" >
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="#"><img src="images/agritech-img.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav  ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}" style="color:white; background-color:#343942;">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('crop_predict') }}" style="color:white; background-color:#343942;">Crop</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('fertilizer_prediction') }}" style="color:white; background-color:#343942;">Fertilizer</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('disease_prediction') }}" style="color:white; background-color:#343942;">Disease</a></li>
                    </ul>
                </div>
                     <!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>

    {% block body %} {% endblock %}



   <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-08.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-02.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-03.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-04.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-05.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-06.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-07.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-08.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-09.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ url_for('static', filename = 'images/instagram-img-05.jpg') }}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


<!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
<!--					<div class="col-lg-4 col-md-12 col-sm-12">-->
<!--						<div class="footer-top-box">-->
<!--							<h3>Business Time</h3>-->
<!--							<ul class="list-time">-->
<!--								<li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-lg-4 col-md-12 col-sm-12">-->
<!--						<div class="footer-top-box">-->
<!--							<h3>Newsletter</h3>-->
<!--							<form class="newsletter-box">-->
<!--								<div class="form-group">-->
<!--									<input class="" type="email" name="Email" placeholder="Email Address*" />-->
<!--									<i class="fa fa-envelope"></i>-->
<!--								</div>-->
<!--								<button class="btn hvr-hover" type="submit">Submit</button>-->
<!--							</form>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-lg-4 col-md-12 col-sm-12">-->
<!--						<div class="footer-top-box">-->
<!--							<h3>Social Media</h3>-->
<!--							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
<!--							<ul>-->
<!--                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>-->
<!--                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>-->
<!--                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>-->
<!--                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>-->
<!--                            </ul>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Agri-Tech</h4>
                            <p>Agri-Tech is a Machine Learning based web application which is designed and developed specifically to help farmers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Our Services</h4>
                            <ul>
                                <li><a href="{{ url_for('crop_predict') }}" style="color:white;">Crop recommendation</a></li>
                                <li><a href="{{ url_for('fertilizer_prediction') }}" style="color:white;">Fertilizer recommendation</a></li>
                                <li><a href="{{ url_for('disease_prediction') }}" style="color:white;">Plant disease prediction</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Creators</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-phone-square"></i><a href="https://www.linkedin.com/in/sudharsan-b-9447a51ab/" target="_blank">Sudharsan B</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i><a  href="https://www.linkedin.com/in/balaji-k-3127a01ab" target="_blank">Balaji K</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i><a href="https://www.linkedin.com/in/rakesh-km-1a37a31ab" target="_blank">Rakesh KM</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2021 </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{{ url_for('static', filename = 'scripts/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/bootstrap.min.js') }}"></script>
    <!-- ALL PLUGINS -->
    <script src="{{ url_for('static', filename = 'scripts/jquery.superslides.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/bootstrap-select.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/inewsticker.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/bootsnav.js.') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/images-loded.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/baguetteBox.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/form-validator.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/contact-form-script.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/custom.js') }}"></script>
    <script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>

</body>